html{
    height: 100%;
    background-image: url("../images/bg.png");
    background-repeat: repeat-x;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.wrapper{
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;   
}

                                /*Header mit Navigationsliste*/
header{
    margin-top: 20px;
    border-bottom: double;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    border-style: ridge;
    border-width: 2px;
    border-bottom-width:6px;
    border-right-width:6px;  
    width: 100%; 
    color: inherit;
    font-size: 9pt;
    text-align: right;
    background-color: white;
    
}

footer {
    margin-top: 30px;
    border-bottom: double;
    background-color: white;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    border-style: ridge;
    border-width: 2px;
    border-bottom-width:6px;
    border-right-width:6px;  
    width: 100%; 
    color: inherit;
}

.registrieren{
    color: white;
}
.seitentitel{
    color:#C9CC07;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.navioben ul{  
    text-align: right;
    margin-right: 10px;
}
.navioben ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 150%;
  margin-right: 15px;
  
}

.navioben a {
  color: #150A53;
  text-decoration: none;
}

.navioben a:hover {
  color: #150A53;
  text-decoration: underline;
}

.navioben a:visited {
  color: #150A53;
}
registration{
    text-align:right;
    margin-right: 50px;
    float:right;
}
registration a{
    text-decoration: none;
    color: #C9CC07;
}
registration a:hover{
    text-decoration: underline;
}

navileft{
    float: left;
    width: 170px;
    font-size:140%;
    
}

.navileft ul{
    margin-top: 40px;
    
}

navileft ul li{
  list-style-type: none;
   margin-top: 1px;
    display: block;
    width: 140px;
    height:25px;
    background: #000;
    font-size: 100%;
    font-weight: bold;
    padding: 3px;
    background-color: #150A53;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    border-style: ridge;
    border-width:6px;
    text-decoration: none;
    
    
  
    
}
.navtitle{
    color: #C9CC07;
}

.navileft a{
    color: #fff;
    text-decoration: none;

}
.navileft a:hover{
    text-decoration: underline;
}
.navileft a:visited{
    color: #fff;
    text-decoration: none;
}


                                    /*Container f�r Navigationsleiste und Seiteninhalt */
.content{
    min-height: 250px;
width: 100%;
margin-top: 30px;
background-color: white;
-moz-border-radius:    10px;
-webkit-border-radius: 10px;
border-radius:         10px;
border-style: ridge;
border-width:4px;
border-bottom-width:6px;
border-right-width:6px;
 padding-bottom: 10px;
}

                                    /*Seiteninhalt*/
.text{
    margin-left: 280px;
}

a.signup_button {
    margin-top: 1px;
    display: block;
    width: 140px;
    height:25px;
    color: #fff;
    background: #000;
    font-size: 100%;
    font-weight: bold;
    padding: 3px;
    background-color: #150A53;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    border-style: ridge;
    border-width:6px;

}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}
.flash{
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #A9EB6C;
    width: 300px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    border-style: none;
}
video{
float: left;
}


#calendar table {
  border-collapse: collapse;
  width: 90%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.widgettable{
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid ;
    color: #363636;
    font: 11px verdana,arial,helvetica,sans-serif;
    text-align: left;
}

.widgettable td{
    padding: 4px;
}

    



