<h1>
  <table>
    <tr>
      <td><%= gravatar_for @user %></td>
      <td>Name: </td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td></td>
      <td>Email: </td>
      <td><%= @user.email %></td>
    </tr>
  </table>
</h1>