<h1>Willkommen</h1>
<p>Die Site bietet euch verscheidene Dienste. Ihr koennt hier Nachrichten Feeds
   durch stoebern oder einen kalender verwalten. Wir arbeiten im Ramen einer
    Hausarbeit im Bereich Webentwicklung.</p>
  <p>Meld dich an und schau mal rein: 

<%= link_to "Anmeldung", anmeldung_path, :class => "signup_button" %> </p>


