
<p class="navioben"><%= link_to "Anderes Zufallsvideo zeigen", stream_path %></p>
<!--
http://www.longtailvideo.com/support/jw-player/jw-player-for-flash-v5/12536/configuration-options
-->


<p><%= player({:file => @video_path,
            :autostart => 'true',
            :skin=>'stijl'}) %></p>

