
<h1>Dein Dashboard</h1>

<p><%= link_to 'Widgets bearbeiten', widgets_path %></p>

<div class="container">
<% if !@widgets.nil? %>
	<% @widgets.each do |w| %>
	<div class="widget">
	<div class="widget_content">
	<%= getWidgetContent(w) %>
	</div>
	</div>
	<% end %>
<% end %>
</div>