<header>

<div class = "navioben">     
<ul>
      <li><%= link_to "Home", "#" %></li>
      <li> | </li>
      <li><%= link_to "About", "#" %></li>
      <li> | </li>
      <li><%= link_to "Help", "#" %></li>
      <li> | </li>
      <li><%= link_to "Login", "#" %></li>
      
</ul>

</header>