<header>

<div class = "navioben">     
<ul>
      <li><%= link_to "Home", root_path %></li>
      <li> | </li>
      <li><%= link_to "About", about_path %></li>
      <li> | </li>
      <li><%= link_to "Help", help_path %></li>
      <li> | </li>
      <li><%= link_to "Login", login_path %></li>
      
</ul>

</header>