<navileft>
  
<ul>
    <li><div class = "navtitle"> Navigation</div></li>
    <%if user_signed_in? %>
    <li><%= link_to "Stream", stream_path %></li>
    <li><%= link_to "Dashboard", dashboard_path %></li>
    <li><%= link_to "Konfiguration", config_path %></li>
    <%else %>
    <%= link_to "Anmeldung", new_user_registration_path, :class => "signup_button" %>
  <% end%>
</ul>

</navileft>
