<registration>
<div class="registrieren">

<%if user_signed_in? %>
  Signed up as <%= link_to current_user.email, show_path %>
<% else %>
Not signed-up yet? <%= link_to "Register now!", new_user_registration_path %> 
<%end%>
</div>
</registration>